body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.blue-color{
    color: black;
}
a{
    text-decoration: none;
}
/**/
.container{
    margin: 0px;
    max-width: 200%;
    padding: 0px;
    max-height: 15000px;
    overflow-y: hidden;
}
/* heip to set the right padding */
.navbar {
    width: 100%;
    height: 8vh;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: smaller;
    position: fixed;
    z-index: initial;

}
.navbar ul{
    padding-left: 6%;
}
.navbar ul li{
   flex: 1;
    display: inline-block;
    margin-right:10px ;

}
 .navbar ol {
    flex: 1;
    text-align: right;
    margin-right: 3%;
}
.navbar ol li{
    display: inline-block;
    list-style-type: none;
    margin-right:10px ;
}
.drop-1{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width:100px ;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
}
.main-1{
    position: relative;
    display:inline-block ;
}
.main-1:hover .drop-1{
    display: block;
    
}

/* ******************************************************************************************************************************************************** */
.area{
    width: 100%;
    height: 13vh;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: smaller;
    position: relative;
    
    

}
.area h3{
    color: goldenrod;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding-left: 6%;
}
#b{
    font-weight: lighter;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#c{
    font-weight: lighter;
    font-size: xx-small;
    color: black;

}
.area ul{
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 130px;

}
.area ul form {
    width: 0px;
    height: 30px;
    display: flex;
    border-color: goldenrod;
}
.area ol {
    flex: 1;
    text-align: right;
    margin-right: 3%;

}
.area ol li{
    display: inline-block;
    list-style-type: none;
    margin-right:10px ;
    
}
#o{
    padding: 2px;
    height: 115%;
    background-color: goldenrod;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.area form button{
    background-color: goldenrod;
    border-color: goldenrod;
    height: 32px;
    border-radius: 0px 25px 25px 0px;
    box-shadow: none;
    border-style: none;
}
/* ********************************************************************************************************************************** */
.area-2{
    width: 100%;
    height: 8vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: smaller;
   


}
.gold-color{
    color: goldenrod;
}
.area-2 ul{
    padding-left: 6%;
}
.area-2 ul li{
   flex: 1;
    display: inline-block;
    margin-right:10px ;
    

}
.area-2 ul li a{
    color: white;
}
.area-2 ul li:hover{
    background-color: goldenrod;
    color: black;
   
   
}
.white-color{
    color: white;
}
.area-2 ol {
    flex: 1;
    text-align: right;
    margin-right: 3%;

}
.area-2 ol li{
    display: inline-block;
    list-style-type: none;
    margin-right:15px ;
    
}
.area-2 ol li h6{
    color: white;
}
.area-2 ol li i{
    margin-left:10px ;
}
/* ************************************************************************ */
.area-3{
    width: 100%;
    height: 50vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position:static;
    overflow-x: hidden;
    overflow-y: hidden;

}
.area-3 #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    
  }

.area-3 ul h5 a{
  color: black;
}
.area-3 ul h5 a:hover{
  background-color: gold;
  color: blue;
}

/* ************************************************************************************** */

.area-4{
    height:420vh;
    width:100%;
    background-color: white; 
    max-width:100% ;
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 2.5fr;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
} 

.area-4 .left-side {
   
    background-color:aliceblue;
    position: relative;
    margin: 0px;
    padding-left: 70px;
    padding-top: 12px;
    padding-right: 1rem;
    

   
}
.arae-4 .right-side {
    padding: 30px; 
    background: white;
    position: relative;
    
}
 .left-row{
    background-color:white ;
    width: 100%;
    height: 100%;

}
#top{
    width: 80%;
    height: 5vh;
    background-color: black;
    padding:auto;
    margin: 0px;
   
}
.left-row-2{
    background-color:white ;
    width: 100%;
    height: auto;

}


#top h4{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    align-items: center;
    font-size: medium;
    justify-content: center;
    padding: 4px;

}
.down li{
       list-style-type: none;
       text-decoration: none;
       margin-top: 20px;
       padding-left: 12px;
}

.down-2 li{
       list-style-type: none;
       text-decoration: none;
       margin-top: 30px;
       padding-left: 12px;
} 
/* **************************************************************************************** price */
.wrapper{
    width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }
  header h2{
    font-size: 24px;
    font-weight: 600;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: gold;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: goldenrod;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
   } /********************** end of price */
.limit button {
    width: 80px;
    height: 40px;
    background-color: goldenrod;
    border-color: black;
    border-color: white;
}
.down-3 li{
       list-style-type: none;
       text-decoration: none;
       margin-top: 20px;
       padding-left: 12px;
}
.down-4{
    padding-top: 40px;
    padding-left: 12px;
}
.down-4-1{
    display: flex;
}
.down-4-1 .blue-color{
      margin-right: 10px;
      color:gold;
}
.down-4{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.down-4 img:hover{
    transform: scale(1.6);
  }
  /* **************************************************************************************** right hand side */
.right-side {
    padding-top: 20px;
}
.main_dishes{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color:white;
    padding-left:30px ;
}
.sub-header{
    text-align: center;
    color: green;
    font-size: 1rem;
    padding-top:1rem ;

}
.header{
    text-align: left;
    color:black;
    font-size: 1rem;
    padding-bottom:3rem ;
    text-transform: uppercase;
    padding-left: 30px;
    
}
.main_dishes .main-header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
    gap: 2.5rem;
    
}
.main_dishes .main-header .main-dish button{
    margin-top: 1px;
    display: inline-block;
    font-family:Arial, sans-serif ;
    color: #fff;
    background-color:rgb(14, 14, 37) ;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 1px;
    width: 90px;
    height:25px ;
    font-size: small;
}
.main_dishes .main-header .main-dish button:hover{
    background-color:goldenrod;
    color: #fff;
    border: #717171;
}
.main_dishes .main-header .main-dish {
    padding: 1px;
    background-color: #fff;
    border-radius:4px  ;
    border: 1px solid #fff;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.main_dishes .main-header .main-dish img{
    width: 190px;
    height: 140px;

}
.main_dishes .main-header .main-dish span{
    color: green;
    white-space: 3px;
}
.main_dishes .main-header .main-dish .btn{
    background-color: gold;
    color: #fff;
    border-radius: 1px;
    border: #fff;
    font-size: 6px;
    width: 32px ;
    height: 16px;
}
.video{
    margin-top: 46px;
}








.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}


.footer{
    padding-top:20px ;
    margin: 0px;
    height: 30vh;
    width: 100%;
    background-image: url(pictures/background.webp);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    
 }
 .contact{
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 30vh;

   

 }

 .contact ul{
   text-align: center;
   display: inline-block;
   list-style-type: none;
   margin-right: 100px;
   
 }
 .contact ul li {
   text-decoration: none;
   color:white ;
   margin-bottom: 12px;
 }

    .contact ul li a {
 color: #fff;
    }